@{
    ViewData["Title"] = "Home Page";
}

@model MainViewModel

<h4>Bowler Information</h4>

@foreach (var x in Model.Bowlers)
            {
                <div class="row">
                    <p>@x.BowlerFirstName @x.BowlerMiddleInit @x.BowlerLastName lives at @x.BowlerAddress @x.BowlerCity, @x.BowlerState
                    @x.BowlerZip. Their Primary phone number is @x.BowlerPhoneNumber.</p>
                </div>
            }