@{
    ViewData["Title"] = "Home Page";
    ViewData["Team"] = Model.TeamName;
}

@model MainViewModel

@foreach (var x in Model.Bowlers)
            {
                <div class="row">
                    <p>@x.BowlerFirstName @x.BowlerMiddleInit @x.BowlerLastName lives at @x.BowlerAddress @x.BowlerCity, @x.BowlerState
                    @x.BowlerZip. Their Primary phone number is @x.BowlerPhoneNumber.</p>
                </div>
            }

<div page-info="@Model.pageNumberingInfo" page-url-teamname="@Model.TeamName"
     page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-info">

</div>